-
  var list = [

    {  name: 'Главная',
      url: '/'
    },

    {  name: 'Контакты',
      url: '/pages/contacts.html'
    }

  ];


mixin navItem(url, name)
  li.main-menu__item
    a.main-menu__link(href=url)= name


nav.main-menu
  ul.main-menu__list
    each i in list
      +navItem(i.url, i.name)
