extends ../../templates/default/template.pug

block head
  - var path = '../';
  - var pageTitle = 'Раздел первого уровня';
  - var pageDescription = 'Описание раздела первого уровня';

block content
  main
