{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-console": 0,
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
  }
}
