section.accordion
  h2.accordion__header Accordion 1
  .accordion__body
    .accordion__content
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
section.accordion
  h2.accordion__header Accordion 2
  .accordion__body
    .accordion__content
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
