extends ../templates/default.pug

block head
  - var pageTitle = 'Контакты';
  - var pageDescription = 'Описание раздела контакы';

block content
  header.page__header
    include ../../blocks/header/header.pug
  main.page__content
    h1 Контакты
  footer.page__footer
    include ../../blocks/footer/footer.pug
