extends ../templates/default/template.pug

block head
  - var path = '';
  - var pageTitle = 'Главная страница';
  - var pageDescription = 'Описание главной страницы';

block content
  main.page__content
