$burger-size: 18px;
$burger-height-shapes: 2px;
$burger-color-white: $white;
$burger-color-dark: $gray;

.burger {
  position: relative;
  width: $burger-size;
  height: $burger-size;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  @include hoverDefault();

  &__icon {
    position: absolute;
    right: 2px;
    left: 0;
    height: $burger-height-shapes;
    background: $burger-color-dark;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: $burger-height-shapes;
    background: $burger-color-dark;
    transition: transform $transition-default;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.burger.is-active {
  & .burger__icon {
    opacity: 0;
  }

  &::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background: $burger-color-white;
  }

  &::after {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%) rotate(-45deg);
    background: $burger-color-white;
  }
}


.burger--color-white {
  &.burger {
    &::before,
    &::after {
      background: $burger-color-white;
    }
  }

  .burger__icon {
    background: $burger-color-white;
  }
}