extends ../../../templates/default/template.pug

block head
  - var path = '../../';
  - var pageTitle = 'Раздел второго уровня';
  - var pageDescription = 'Описание раздела второго уровня';

block content
  main
