// Миксин для подключения
@mixin fontFace($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$name}';
    src: local('#{$name}'),
      url('/assets/fonts/#{$name}/#{$path}.woff2') format('woff2'),
      url('/assets/fonts/#{$name}/#{$path}.woff') format('woff'),
      url('/assets/fonts/#{$name}/#{$path}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

// Только для Ruby on Rails
// @mixin fontFace($name, $path, $weight: normal, $style: normal) {
//   @font-face {
//     font-family: '#{$name}';
//     src: local('#{$name}'),
//         font-url('#{$path}.woff2') format('woff2'),
//         font-url('#{$path}.woff') format('woff'),
//         font-url('#{$path}.ttf') format('truetype');
//     font-weight: $weight;
//     font-style: $style;
//     font-display: swap;
//   }
// }

// Миксин для назначения
@mixin fontFamily($name) {
  font-family: '#{$name}', sans-serif;
}

// Подключение шрифтов
@include fontFace('montserrat', 'montserrat-regular', 400);
@include fontFace('montserrat', 'montserrat-italic', 400, italic);
@include fontFace('montserrat', 'montserrat-semibold', 600);
@include fontFace('montserrat', 'montserrat-semibolditalic', 600, italic);
@include fontFace('montserrat', 'montserrat-bold', 700);
@include fontFace('montserrat', 'montserrat-bolditalic', 700, italic);

// Начертание шрифтов:
// 
// 100 - Thin (тонкое начертание)
// 200 - Extra-Light (сверхсветлое)
// 300 - Light (светлое)
// 400 - Regular (нормальное)
// 500 - Medium (среднее)
// 600 - Semi-Bold (полужирное)
// 700 - Bold (жирное)
// 800 - Extra-Bold (сверхжирное)
// 900 - Black (тяжёлое)
