.icon-fb-icon {
  width: 8.9px;
  height: 19.3px;
}
.icon-ig-icon {
  width: 16.1px;
  height: 16.1px;
}
.icon-lang-toggle-icon {
  width: 24px;
  height: 16px;
}
.icon-linkedin-icon {
  width: 93.06px;
  height: 93.06px;
}
.icon-soundcloud-icon {
  width: 97.8px;
  height: 42.5px;
}
.icon-tripadvisor-icon {
  width: 98.6px;
  height: 58.4px;
}
.icon-tw-icon {
  width: 18.1px;
  height: 14.8px;
}
.icon-vk-icon {
  width: 96.5px;
  height: 54.6px;
}
.icon-wikipedia-icon {
  width: 98px;
  height: 63.3px;
}
.icon-youtube-icon {
  width: 76.5px;
  height: 90.7px;
}
.icon-youtube-play-button-icon {
  width: 96.9px;
  height: 67.5px;
}
