// ------------------------------------------------------
// COMMON
$page-width: 1450px;
$content-width: 1114px;
$content-padding-x: 16px;
$content-container: $content-width + ($content-padding-x * 2);
$grid-gutter-default: 3.8%;

// ------------------------------------------------------
// Z-INDEX
$page-header-z-index: 1;

// ------------------------------------------------------
// ANIMATION
$opacity-hover-default: 0.6;
$opacity-active-default: 1;
$transition-default: 0.2s;

// ------------------------------------------------------
// COLORS
$white: #FFFFFF;
$black: #000000;
$blue: #0098ED;
$red: #CC0000;
$yellow: #FAFF00;
$green: #9BC53D;
$green-light: #4CAF50;
$green-deep: #009933;
$orange: #FF7C06;
$gray: #999999;
$gray-light: #FBFBFB;

// цвет ошибки, опасного действия
$color-danger: $red;
// цвет подтверждения, удачного завершения операции
$color-success: $green-deep;
// цвет информационного сообщения
$color-warning: #D8AE1C;

// text
$text-color-black: $black;
$text-color-white: $white;
$text-color-gray: $gray;
$text-color-green: $green;
$text-color-blue: $blue;

// other
$color-link-default: $text-color-blue;

$shdow-default: 0px 1px 4px rgba(0, 0, 0, 0.15);

// ------------------------------------------------------
// FONTS
$font-family-1: Montserrat, sans-serif;
$font-family-2: Montserrat, sans-serif;

$font-family-default: $font-family-1;
$font-family-headers: $font-family-2;

// fonts-size
$font-size-xxxs: 12px;
$font-size-xxs: 14px;
$font-size-xs: 18px;
$font-size-s: 21px;
$font-size-m: 24px;
$font-size-l: 28px;
$font-size-x: 32px;
$font-size-xl: 40px;
$font-size-xxl: 64px;
$font-size-xxxl: 72px;

// fonts-size-default
$font-size-default-min: 14px;
$font-size-default-max: 18px;

// LINE-HEIGHT
$line-height-default: 1.2;
$line-height-headers-default: 1.4;

// ------------------------------------------------------
// FORM
$placeholder-font-size: $font-size-xs;

// ------------------------------------------------------
// Spaces
$space100: 8px;
$space200: 16px;
$space300: 24px;
$space400: 32px;
$space500: 40px;
$space600: 56px;
$space700: 72px;

// ------------------------------------------------------
// MEDIA QUERIES
$phone:            320px;
$smartphone:       400px;
$tablet:           768px;
$tablet-landscape: 1024px;
$laptop:           1280px;
$desktop:          1440px;
$tv:               1600px;

$mobile-menu: $tablet;
