// TRANSITION

$transition-default: 0.3s;

/*-------------------------------------*/

// COLORS

$black: #000000;

/*-------------------------------------*/

// FONTS



// ------------------------------------------------------
// FONTS
$font-default: 'Montserrat';
$font-second: 'Montserrat';
$font-third: 'Montserrat';

/*-------------------------------------*/

// MEDIA QUERIES

$phone   : 320px;
$tablet  : 768px;
$laptop  : 1024px;
$desktop : 1280px;
$tv      : 1600px;


/*-------------------------------------*/
