.page {
  display: flex; // For IE11
  flex-direction: column;
  max-width: $page-width;
  margin: 0 auto;
  
  &__inner {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  &__header {
    position: relative;
    z-index: $page-header-z-index;
  }
  
  &__main {
    flex-grow: 1;
  }
  
  &__footer {
    flex-shrink: 0;
  }
}
