nav.social-links
  a.social-links__item.icon-vk(href="javascript:vpid(0)")
  a.social-links__item.icon-fb(href="javascript:vpid(0)")
  a.social-links__item.icon-tw(href="javascript:vpid(0)")
  a.social-links__item.icon-yt(href="javascript:vpid(0)")
  a.social-links__item.icon-in(href="javascript:vpid(0)")
