extends templates/layout.pug

block head
  - var path = '';
  - var pageTitle = 'Главная страница';
  - var pageDescription = 'Описание главной страницы';

prepend body
  - var bodyClass = '';

block content
  h1 Главная страница
