extends templates/default.pug

block head
  - var path = '';
  - var pageTitle = 'Главная страница';
  - var pageDescription = 'Описание главной страницы';

block content
  header.page__header
    include ../blocks/header/header.pug
  main.page__content
    h1 Главная
  footer.page__footer
    include ../blocks/footer/footer.pug
