extends templates/default.pug

block head
  - var path = '';
  - var pageTitle = 'Главная страница';
  - var pageDescription = 'Описание главной страницы';

block content
  body.page
    .page__inner.content-container
      header.page__main-nav
        include ../blocks/main-nav/main-nav.pug
      main.page__content
        h1 Главная страница
      footer.page__footer
        include ../blocks/footer/footer.pug
