.footer(style='color: red; text-align: center')
  div Footer подключен
  section
    +icon('lang-toggle-icon')
    +icon('fb-icon')
    +icon('tw-icon')
    +icon('vk-icon')
    +icon('ig-icon')
    +icon('linkedin-icon')
    +icon('soundcloud-icon')
    +icon('tripadvisor-icon')
    +icon('wikipedia-icon')
    +icon('youtube-icon')
    +icon('youtube-play-button-icon')
