include vars.pug

include ../../blocks/svg-icons/svg-icons.pug
include ../../blocks/main-nav/main-nav.pug
include ../../blocks/logo/logo.pug

doctype html
html(lang='ru')
  include head.pug
  block body
