.svg-icon {
  display: inline-block;
  fill: currentColor;
  width: 2em;
  height: 2em;
}

.fb-icon {
  fill: blue;
}

.tw-icon {
  fill: orange;
}

.vk-icon {
  fill: lime;
}

.ig-icon {
  fill: gold;
}

.lang-toggle-icon {
  fill: black;
}
