include ../../../blocks/svg-icons/svg-icons.pug

doctype html
html(lang='ru')
	include head.pug
	body.body
		include ../../../blocks/header/header.pug
		include ../../../blocks/main-menu/main-menu.pug
		block content
		include ../../../blocks/footer/footer.pug
		script(src= path + 'scripts/bundle.min.js')
